html, body{
    margin: 0;
    padding: 0;
    background-color: floralwhite;
	font-family: 'Robot', 'sans-serif';
}

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

input {
	padding:4px 4px 4px 22px;
	border:1px solid #CCCCCC;
	width:230px;
	height:30px;
}

input:hover {
    border-color: skyblue;
}

.list p {
    float: left;
    text-align: center;
    margin-left: 30%;
    font-size: 20px;
}

@media screen and (min-width:400px) {   
	.list p {
    float: left;
    text-align: center;
    margin-left: 2%;
    margin-top: 9%;
    font-size: 15px;
	}
}

@media screen and (min-width:500px) {   
	.list p {
    float: left;
    text-align: center;
    margin-left: 4%;
    margin-top: 10%;
    font-size: 18px;
	}
}

@media screen and (min-width:600px) {   
	.list p {
    float: left;
    text-align: center;
    margin-left: 2%;
    margin-top: 8%;
    font-size: 22px;
	}
}

@media screen and (min-width:700px) {   
	.list p {
    float: left;
    text-align: center;
    margin-left: 4%;
    margin-top: 6%;
    font-size: 24px;
	}
}

@media screen and (min-width:900px) {   
	.list p {
    float: left;
    text-align: center;
    margin-left: 4%;
    margin-top: 4.5%;
    font-size: 26px;
	}
}

@media screen and (min-width:1000px) {   
	.list p {
    float: left;
    text-align: center;
    margin-left: 4%;
    margin-top: 4.5%;
    font-size: 28px;
	}
}

@media screen and (min-width:1100px) {   
	.list p {
    float: left;
    text-align: center;
    margin-left: 4%;
    margin-top: 3.5%;
    font-size: 30px;
	}
}

@media screen and (min-width:1400px) {   
	.list p {
    float: left;
    text-align: center;
    margin-left: 4%;
    margin-top: 2.5%;
    font-size: 32px;
	}
}

@media screen and (min-width:1500px) {   
	.list p {
    float: left;
    text-align: center;
    margin-left: 4%;
    margin-top: 2%;
    font-size: 38px;
	}
}
.showCity {
    float: left;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    height: 10%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: white;
    border: solid 1px black;
}

header {
    padding:50px 0px;
	background-color:black;
	text-align:center;
}

header h1 {
    color: white;
}

body h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.form {
    text-align: center;
}

.submit {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.submit:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#error {
    text-align: center;
    visibility: hidden;
    color:red;
}